# Ignore specific file types throughout the repository
**/test*.in
**/test*.out
**/test*.res
**/test*.diff

# Ignore Makefiles throughout the repository
**/Makefile

# Ignore compiled C files
**/*.o
**/*.exe
**/*.out
